*{
	margin: 0;
	padding: 0;
}

.header{
	background-attachment: fixed;
	background-image: -o-linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/logo.jpg");
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/logo.jpg"); 
	background-position: center;
	background-size: cover;
	color: #fff;
	height: 100vh;
	padding: 20px;
	text-align: center;
}

.header h1{
	font-size: 55px;
	padding-bottom: 0;
	padding-top: 260px;
}
.header p{
	margin: 18px 0;
}
.input-group{
	background: #fff;
	border-radius: 30px;
	margin: auto;
	max-width: 500px;
	padding: 2px;
	width: 90% !important;
}
.form-control{
	-webkit-box-shadow: none !important;
	border-radius: 30px !important;
	border: 0 !important;
	box-shadow: none !important;
	margin: 2px;
}
.input-group-text{
	-webkit-box-shadow: none !important;
	background-image: -o-linear-gradient(#00ff7e, #1f3d90);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#00ff7e), to(#1f3d90));
	background-image: linear-gradient(#00ff7e, #1f3d90);
	border-radius: 30px;
	border:0 inset !important;
	box-shadow: none !important;
	color:#fff inherit !important;
	padding: 0 25px;
	width: 100px;
}

.features{
	padding: 100px 0;
}
.features .fas, .features .fa{
	color:#ff5722;
	font-size: 15px;
}
.feature-box{
	-webkit-box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	height: 100%;
	margin-bottom: 30px;
}
h1{
	padding-bottom: 30px;
	text-align: center;
}
.feature-img{
	position: relative;
}
.feature-img img{
	width: 100%;
	height: 230px;
}
.price{
	-webkit-box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	background: #ff5722;
	border-radius: 50%;
	bottom: -25px;
	box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
	color:#000;
	font-weight: 600;
	height: 60px;
	left: 20px;
	position: absolute;
	text-align: center;
	width: 60px;
}
.text-muted{
	color: #ffffff;
	padding-top: 15px;
	text-align: center;
}
.rating{
	background: #fff;
	bottom: -1px;
	float: right;
	padding: 3px;
	position: absolute;
	right: 0;
}
.feature-details{
	padding: 20px;
	text-align: justify;
}
.feature-details h4{
	font-weight: 600;
	margin-top: 20px;
}
.place-icons{
	text-align: center;
	
}
.place-icons .fas{
	margin-right: 5px;
}

/*gallery*/

.gallery{
	background: #efefef;
	padding: 100px 0;
}
.gallery-box img{
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
	width: 100%;
}
.gallery-box img:hover{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	transform: scale(1.1);
}
.gallery-box h4{
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	color:#fff;
	display: block;
	font-size: 30px;
	font-weight: 600;
	left: 50%;
	position: absolute;
	text-shadow: -2px 2px 2px #000;
	top:50%;
	transform: translate(-50%, -50%);
}
.gallery-box{
	position: relative;
	margin-bottom: 20px;
}


/* banner section */

.btn-buscar{
	color: white;
}

.banner{
	background-attachment: fixed;
	background-image: url(images/pirs-2.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding-top: 20%;
}
.banner-highlights{
	background:rgba(0,0,0,0.7);
	color:#fff;
	padding: 70px 0;
	text-align: center;
}
.booking-btn{
	background: transparent;
	border-radius: 50px;
	border: 2px solid #fff;
	color: #fff;
	margin-top: 20px;
	outline: none !important;
	padding: 8px 0;
	width: 130px;
}
.booking-btn:hover {
	background-color: #585858;
}
/* users feedback section */

.users-feedback{
	padding: 100px 0;
}
.user-review{
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,100,0.2);
	box-shadow: 0 0 10px 1px rgba(0,0,100,0.2);
	padding-bottom: 50px;
	text-align: center;
}
.user-review p{
	padding: 50px 10px 10px 10px;
}
.user-review p::before{
	color:blue;
	content: "\f10e";
	display: block;
	font-family: "fa-solid";
	font-size: 30px;
	left: 47%;
	position: absolute;
	top: 0;
}
.users-feedback img{
	border-radius: 50%;
	height: 60px;
	margin: -30px 0 20px 40%;
	object-fit: cover;
	position: relative;
	width: 60px;
}

/* footer section */

.footer{
	background-image: -o-linear-gradient(#2d557d, #9610fb);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2d557d), to(#9610fb));
	background-image: linear-gradient(#2d557d, #9610fb);
	color:#fff;
	padding: 40px 20px 15px;
}
.footer-logo{
	margin-bottom: 15px;
	margin-top: 5px;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 15px;
	text-align: left;
}
.footer p{
	font-size: 12px;
	padding-right: 35px;
	text-align: justify;
}
.footer .fas, .footer .fab{
	font-size: 15px;
	margin-right: 20px;
}

.footer hr{
	background: #efefef;
	margin-top: 10px;
}
.footer .fas.fa-heart{
	margin: 0 5px;
	color:#f44336;
}
.footer .copyright{
	text-align: center;
}

/* mobile fix for header */

@media only screen and (max-width: 600px) {
.header{
	height: 100% !important;
	background-attachment: inherit;
}

.input-group-text btn{
	color: #fff;
}	
.header h1{
	padding-top: 0;
}
.col-md-4{
	margin-block-end: 2em;
}
.banner-highlights{
	padding: 40px 0;
	margin-top: 150px;
}
.footer-logo{
	display: block;
	margin: auto;
}
} 
